<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Wars</title>
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="shortcut icon" href="../image/light-saber.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="../js/menu.js" defer></script>
    <script src="../js/personagens.js" defer></script>
    <script src="../js/topo.js" defer></script>
</head>
<body>

    <header id="cabecalho">

        <figure class="logo" id="logo">
            <a href="../../index.html" aria-label="Logo do site clicável para a página principal" rel="prev"><img src="../image/Logo-Star-Wars.png" alt="Logo da Star Wars"></a>
        </figure>

        <nav id="menu">

            <!--Botão de menu-->
            <span class="material-symbols-outlined sr-only" id="icone-de-menu" aria-hidden="true" tabindex="0">
                menu
            </span>

            <ul class="menu" id="paginas-de-menu">

                <a href="../../index.html" aria-label="A primeira página do site" rel="prev" class="pagina">Ínicio</a>

                <a href="galeria.html" aria-label="A segunda e última página do site" rel="self" class="pagina">Galeria</a>

            </ul>

        </nav>

        <nav class="nav" id="nav">
            <ul>

                <a href="#personagens" aria-label="Personagens da franquia">Personagens</a>

                <a href="#rodape" aria-label="Créditos de desenvolvedore do site">Créditos</a>

            </ul>
        </nav>

    </header>

    <main id="conteudo">

        <section id="personagens">

            <h1>Lista de personagens</h1>

            <ul class="lista-de-personagens">

                <li>
                    <article class="personagem">

                        <figure class="foto">

                        </figure>

                        <article class="aspectos">
                            <h2 class="nome">

                            </h2>
                            <p class="aspecto">

                            </p>
                        </article>

                    </article>
                </li>

                <li>
                    <article class="personagem">

                        <figure class="foto">

                        </figure>

                        <article class="aspectos">
                            <h2 class="nome">

                            </h2>
                            <p class="aspecto">

                            </p>
                        </article>

                    </article>
                </li>
                
                <li>
                    <article class="personagem">
                        
                        <figure class="foto">

                        </figure>
                        
                        <article class="aspectos">
                            <h2 class="nome">

                            </h2>
                            <p class="aspecto">

                            </p>
                        </article>
                        
                    </article>
                </li>

                <li>
                    <article class="personagem">

                        <figure class="foto">

                        </figure>

                        <article class="aspectos">
                            <h2 class="nome">

                            </h2>
                            <p class="aspecto">

                            </p>
                        </article>

                    </article>
                </li>

                <li>
                    <article class="personagem">

                        <figure class="foto">

                        </figure>

                        <article class="aspectos">
                            <h2 class="nome">

                            </h2>
                            <p class="aspecto">

                            </p>
                        </article>

                    </article>
                </li>

                <li>
                    <article class="personagem">

                        <figure class="foto">

                        </figure>

                        <article class="aspectos">
                            <h2 class="nome">

                            </h2>
                            <p class="aspecto">

                            </p>
                        </article>

                    </article>
                </li>

                <li>
                    <article class="personagem">

                        <figure class="foto">

                        </figure>

                        <article class="aspectos">
                            <h2 class="nome">

                            </h2>
                            <p class="aspecto">

                            </p>
                        </article>

                    </article>
                </li>

                <li>
                    <article class="personagem">

                        <figure class="foto">

                        </figure>

                        <article class="aspectos">
                            <h2 class="nome">

                            </h2>
                            <p class="aspecto">

                            </p>
                        </article>

                    </article>
                </li>

                <li>
                    <article class="personagem">

                        <figure class="foto">

                        </figure>

                        <article class="aspectos">
                            <h2 class="nome">

                            </h2>
                            <p class="aspecto">

                            </p>
                        </article>

                    </article>
                </li>

                <li>
                    <article class="personagem">

                        <figure class="foto">

                        </figure>

                        <article class="aspectos">
                            <h2 class="nome">

                            </h2>
                            <p class="aspecto">

                            </p>
                        </article>

                    </article>
                </li>

            </ul>

        </section>

        <!--Botão de voltar ao topo-->
        <span class="material-symbols-outlined sr-only" id="topo" aria-hidden="true" tabindex="0">
            shift
        </span>
        
        <!--Animação de fundo da tela do conteúdo-->
        <div class="bolhas">
            <span style="--i:11"></span>
            <span style="--i:9"></span>
            <span style="--i:21"></span>
            <span style="--i:18"></span>
            <span style="--i:4"></span>
            <span style="--i:20"></span>
            <span style="--i:15"></span>
            <span style="--i:31"></span>
            <span style="--i:23"></span>
            <span style="--i:16"></span>
            <span style="--i:10"></span>
            <span style="--i:11"></span>
            <span style="--i:9"></span>
            <span style="--i:21"></span>
            <span style="--i:18"></span>
            <span style="--i:4"></span>
            <span style="--i:20"></span>
            <span style="--i:15"></span>
            <span style="--i:31"></span>
            <span style="--i:23"></span>
            <span style="--i:16"></span>
            <span style="--i:10"></span>
            <span style="--i:11"></span>
            <span style="--i:9"></span>
            <span style="--i:21"></span>
            <span style="--i:18"></span>
            <span style="--i:4"></span>
            <span style="--i:20"></span>
            <span style="--i:15"></span>
            <span style="--i:31"></span>
            <span style="--i:23"></span>
            <span style="--i:16"></span>
            <span style="--i:10"></span>
            <span style="--i:11"></span>
            <span style="--i:9"></span>
            <span style="--i:21"></span>
            <span style="--i:18"></span>
            <span style="--i:4"></span>
            <span style="--i:20"></span>
            <span style="--i:15"></span>
            <span style="--i:31"></span>
            <span style="--i:23"></span>
            <span style="--i:16"></span>
            <span style="--i:10"></span>
        </div>

    </main>

    <footer id="rodape">

        <p>
            Site criado por <a href="https://github.com/Enne-Amore" aria-label="Minha conta do GitHub" rel="external" target="_blank">Enne Jim Pessoa</a>
        </p>

        <hr>

        <section class="creditos">

            <h2>Créditos:</h2>

            <ul class="lista">

                <li>
                    <a href="https://www.imagensempng.com.br/logo-star-wars-png/" aria-label="Logo que simboliza a franquia" rel="external" target="_blank">Logo do site</a>
                </li>

                <li>
                    <a href="https://www.aficionados.com.br/star-wars/" aria-label="Informações pegas que são sobre a franquia" rel="external" target="_blank">Informações da franquia</a>
                </li>

                <li>
                    <a href="https://www.selecoes.com.br/cultura-lazer/curiosidades-sobre-star-wars-que-voce-nunca-soube-vb/" aria-label="Informações pegas que são de curiosidades da franquia" rel="external" target="_blank">Curiosidades da franquia</a>
                </li>

                <li>
                    <a href="https://br.pinterest.com" aria-label="Imagem representativa de cada personagem apresentada" rel="external" target="_blank">Imagem de cada personagem</a>
                </li>

                <li>
                    <a href="https://www.flaticon.com/free-icons/star-wars" aria-label="Ícone que representa a: duas espadas" title="star wars icons" rel="external" target="_blank">Ícone do site</a>
                </li>

            </ul>

        </section>

    </footer>

</body>
</html>