<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Wars</title>
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="shortcut icon" href="../image/light-saber.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="../js/menu.js" defer></script>
    <script src="../js/personagens.js" defer></script>
</head>
<body>
    <header id="cabecalho">
        <nav id="menu">
            <span class="material-symbols-outlined" id="icone-de-menu">
                menu
            </span>
            <ul class="menu" id="paginas-de-menu">
                <a href="../../index.html" rel="next" class="pagina">Ínicio</a>
                <a href="galeria.html" rel="next" class="pagina">Galeria</a>
            </ul>
        </nav>
        <figure class="logo" id="logo">
            <img src="../image/Logo-Star-Wars.png" alt="Logo da Star Wars">
        </figure>
        <nav class="nav" id="nav">
            <ul>
                <a href="#personagem">Personagens</a>
                <a href="#rodape">Créditos</a>
            </ul>
        </nav>
    </header>
    <main id="conteudo">
        <div class="bolhas">
            <span style="--i:11"></span>
            <span style="--i:9"></span>
            <span style="--i:21"></span>
            <span style="--i:18"></span>
            <span style="--i:4"></span>
            <span style="--i:20"></span>
            <span style="--i:15"></span>
            <span style="--i:31"></span>
            <span style="--i:23"></span>
            <span style="--i:16"></span>
            <span style="--i:10"></span>
            <span style="--i:11"></span>
            <span style="--i:9"></span>
            <span style="--i:21"></span>
            <span style="--i:18"></span>
            <span style="--i:4"></span>
            <span style="--i:20"></span>
            <span style="--i:15"></span>
            <span style="--i:31"></span>
            <span style="--i:23"></span>
            <span style="--i:16"></span>
            <span style="--i:10"></span>
            <span style="--i:11"></span>
            <span style="--i:9"></span>
            <span style="--i:21"></span>
            <span style="--i:18"></span>
            <span style="--i:4"></span>
            <span style="--i:20"></span>
            <span style="--i:15"></span>
            <span style="--i:31"></span>
            <span style="--i:23"></span>
            <span style="--i:16"></span>
            <span style="--i:10"></span>
            <span style="--i:11"></span>
            <span style="--i:9"></span>
            <span style="--i:21"></span>
            <span style="--i:18"></span>
            <span style="--i:4"></span>
            <span style="--i:20"></span>
            <span style="--i:15"></span>
            <span style="--i:31"></span>
            <span style="--i:23"></span>
            <span style="--i:16"></span>
            <span style="--i:10"></span>
        </div>
        <section id="personagem">
            
        </section>
    </main>
    <footer id="rodape">
        <p>
            Página criada por <a href="" rel="external" target="_blank">Enne Jim Pessoa</a>
        </p>
    </footer>
</body>
</html>