@charset "UTF-8";

/* A mente do site */
body {
    max-width: 100%;
    height: auto;
    font: 1.8vw var(--fonte-padrao);
}

/* O cabeçalho do site */
#cabecalho {
    background-color: black;
    color: white;
    padding: 1em 1em 0;

}

#cabecalho #menu .material-symbols-outlined {
    position: absolute;
    top: 3%;
    cursor: pointer;
    color: var(--amarela-clara);
    font-size: 3em;
    padding: 0.1em;
    border-radius: 0.3em;
    transition-duration: .6s;
}
#cabecalho #menu .material-symbols-outlined:hover,
#cabecalho #menu .material-symbols-outlined:focus {
    background-color: white;
    color: var(--amarela-escura);
}
#cabecalho #menu .material-symbols-outlined:active {
    background-color: var(--amarela-escura);
    color: white;
    transition-duration: .2s;
}
#cabecalho #menu .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--amarela-clara);
    top: 0;
    left: -80%;
    opacity: 0%;
    transition-duration: .4s;
}
#cabecalho #menu .menu a {
    text-decoration: none;
    display: none;
    color: white;
    font-size: 2em;
    padding: 0.8em 1em 0.4em;
    transition-duration: .6s;
}
#cabecalho #menu .menu a:last-child {
    padding-top: 0.4em;
    padding-bottom: 0.8em;
}
#cabecalho #menu .menu a:hover,
#cabecalho #menu .menu a:focus {
    background-color: var(--vermelha-clara);
    padding: 1em;
}
#cabecalho #menu .menu a:active {
    background-color: var(--vermelha-escura);
    transition-duration: .2s;
}
#cabecalho .logo {
    margin-left: 32vw;
}
#cabecalho .logo a {
    display: inline;
}
#cabecalho .logo a:focus-visible {
    outline: auto;
    border-radius: 1em;
}
#cabecalho .logo a img {
    background-color: rgba(0, 0, 0, 0.178);
    width: 45%;
    height: auto;
}

#cabecalho .nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 2em 0 0.5em;
}
#cabecalho .nav ul a {
    text-decoration: none;
    color: var(--amarela-clara);
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em;
    border-radius: 0.3em;
    transition-duration: .6s;
}
#cabecalho .nav ul a:hover,
#cabecalho .nav ul a:focus {
    background-color: white;
    color: var(--amarela-escura);
    padding: 0.5em 1em;
}
#cabecalho .nav ul a:active {
    background-color: var(--amarela-escura);
    color: white;
    transition-duration: .2s;
}

/* O conteúdo do site */
#conteudo {
    background-color: var(--laranja);
    padding: 1em;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#conteudo .bolhas {
    position: absolute;
    display: flex;
    bottom: 0;
    top: 0;
}
#conteudo .bolhas span {
    width: 30px;
    height: 30px;
    background-color: var(--vermelha-clara);
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.144),
    0 0 50px var(--amarela-clara),
    0 0 100px var(--amarela-clara);
    animation: animar calc(500s / var(--i)) linear infinite;

}
#conteudo .bolhas span:nth-of-type(even) {
    background-color: var(--amarela-clara);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.144),
    0 0 50px var(--vermelha-clara),
    0 0 100px var(--vermelha-clara);
}
@keyframes animar {
    0% {
        transform: translateY(-20vh) scale(0);
    }
    100% {
        transform: translateY(1000vh) scale(1);
    }
}

#conteudo h1 {
    font-family: var(--fonte-titulo);
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.178);
    width: 100%;
    padding: 0.5em 0em 0.3em;
    text-align: center;
}

#conteudo #sobre, #conteudo #curiosidades {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.144);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

#conteudo #sobre {
    width: 50%;
    gap: 0.5em;
    margin: 2% auto;
}
#conteudo #sobre p {
    padding: 0.1em 1em;
    text-align: justify;
}
#conteudo #sobre .figura {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
}
#conteudo #sobre .figura img {
    background-color: rgba(0, 0, 0, 0.178);
    width: 100%;
    height: 100%;
}
#conteudo #sobre .figura figcaption {
    text-align: center;
    width: 100%;
    height: max-content;
    font-size: 0.9em;
    padding: 0.3em;
    background-color: rgba(0, 0, 0, 0.178);
}

#conteudo #curiosidades {
    width: 80%;
    gap: 0.8em;
    margin: 4% auto;
}
#conteudo #curiosidades p {
    text-align: center;
    width: fit-content;
    text-decoration: underline;
}
#conteudo #curiosidades .curiosidades {
    padding: 0.1em 1em 0.8em;
    text-align: justify;
    list-style: none;
    counter-reset: mynum;
}
#conteudo #curiosidades .curiosidades li {
    margin: 1% auto 5%;
}
#conteudo #curiosidades .curiosidades li::before {
    content: counter(mynum) " - ";
    counter-increment: mynum;
    font-weight: bolder;
}
#conteudo #curiosidades .curiosidades .figura {
    display: flex;
    justify-content: center;
    margin: 2% auto;
}
#conteudo #curiosidades .curiosidades .figura img {
    background-color: rgba(0, 0, 0, 0.178);
    width: 60%;
    height: 60%;
}
#conteudo #curiosidades .curiosidades .figura figcaption {
    width: 20%;
    height: max-content;
    font-size: 0.9em;
    padding: 0.3em;
    background-color: rgba(0, 0, 0, 0.178);
}
#conteudo #curiosidades .curiosidades .figura.direita {
    text-align: right;
}
#conteudo #curiosidades .curiosidades .figura.esquerda {
    text-align: left;
}

#conteudo #personagens {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    z-index: 1;
}
#conteudo #personagens .lista-de-personagens {
    list-style: none;
    columns: 2;
    margin: 3% 1%;
}
#conteudo #personagens .lista-de-personagens .personagem {
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.144);
    margin: 10% -3.8%;
    padding: 3% 6% 3% 3%;
    width: max-content;
    text-align: center;
    display: flex;
    align-items: flex-start;
    gap: 3vw;
}
#conteudo #personagens .lista-de-personagens .personagem .foto img {
    background-color: rgba(0, 0, 0, 0.178);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.144);
    width: 100%;
    height: 100%;
}
#conteudo #personagens .lista-de-personagens .personagem .aspectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    padding-right: 2.5%;
    gap: 1vw;
}
#conteudo #personagens .lista-de-personagens .personagem .aspectos .nome {
    font-family: var(--fonte-titulo);
    background-color: rgba(0, 0, 0, 0.178);
    padding: 5%;
    width: 120%;
    text-align: center;
}
#conteudo #personagens .lista-de-personagens .personagem .aspectos .aspecto {
    width: max-content;
}

#conteudo #topo {
    position: fixed;
    cursor: pointer;
    right: 2%;
    bottom: 5%;
    background-color: var(--amarela-clara);
    color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.144);
    font-size: 2em;
    border-radius: 5em;
    padding: 1%;
    z-index: 1;
    transition-duration: .2s;
    animation: fade .3s ease;
}
#conteudo #topo:focus-visible {
    outline: auto;
}
#conteudo #topo:hover,
#conteudo #topo:focus {
    background-color: var(--amarela-escura);
}
#conteudo #topo:active {
    background-color: var(--laranja);
}

/* O rodapé do site */
#rodape {
    background-color: var(--vermelha-escura);
    color: white;
    padding: 1em;
    text-align: center;
}

#rodape p {
    font-size: 1.2em;
}

#rodape hr {
    margin-top: 0.9em;
}

#rodape .creditos {
    display: flex;
    justify-content: center;
    margin: 2% 20% 1%;
    gap: 5%;
}
#rodape .creditos h2 {
    font-size: 1.2em;
}
#rodape .creditos .lista {
    list-style: none;
    columns: 2;
    text-align: start;
}
#rodape .creditos .lista li {
    margin-bottom: 4%;
    width: max-content;
}

#rodape a {
    text-decoration: none;
    color: var(--amarela-clara);
    transition-duration: .4s;
}
#rodape a:hover,
#rodape a:focus {
    background-color: white;
    color: var(--amarela-escura);
    padding: 0.1em;
    border-radius: 1em;
}
#rodape a:active {
    background-color: var(--amarela-escura);
    color: white;
    transition-duration: .2s;
}
